<!DOCTYPE html>

<html th:replace="~{layouts/main :: layout(~{::main})}"
	xmlns:th="http://www.thymeaf.org">


<body id="page-top">

	<main role="main">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800 d-flex justify-content-center my-5">Report</h1>

				<div class="row justify-content-center mt-3">
		
					<div class="my-5">
						<div class="" id="graph"
							style="width: 550px; height: 400px; margin: 0 auto"></div>
					</div>
				</div>
				<!-- DataTales Example -->
				<div class=" row shadow mb-4 mt-5 ot-data">
					<div class="card-header py-3 cardh"></div>

					<div class="card-body">
						<div class="table-responsive">
							<div>
								<table class="table table-bordered text-dark-600 small"
									id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th class="th">No</th>
											<th class="th">Form ID</th>
											<th class="th">Project ID</th>
											<th class="th">Project Name</th>
											<th class="th">Staff ID</th>
											<th class="th">Staff name</th>
											<th class="th"></th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="o : ${otList}">
											<td th:text="${oStat.index+1}"></td>
											<td th:text="${o.formId}"></td>
											<td th:text="${o.projects.projectId}"></td>
											<td th:text="${o.projects.name}"></td>
											<td th:text="${o.staffs.id}"></td>
											<td th:text="${o.staffs.name}"></td>
											<td><a th:href="@{/approver/print/{id}(id=${o.id})}"><i class="fa-solid fa-print"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- End of Main Content -->

			<!-- End of Page Wrapper -->

			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script type="text/javascript" th:inline="javascript">
			$(function() {
				Highcharts
						.chart(
								'graph',
								{

									chart : {
										type : 'column'
									},
									title : {
										text : 'Organization'
									},
									subtitle : {
										text : 'Details'
									},
									xAxis : {
										/*[+
										categories: [[${name}]],
										+]*/
										crosshair : true
									},
									yAxis : {
										min : 0,
										max : 500000,
										title : {
											text : 'Amount'
										}
									},
									tooltip : {
										headerFormat : '<span style="font-size:10px">{point.key}</span><table>',
										pointFormat : '<tr><td style="color:{series.color};padding:0">{series.name}: </td>'
												+ '<td style="padding:0"><b>{point.y:.1f} Amount</b></td></tr>',
										footerFormat : '</table>',
										shared : true,
										useHTML : true
									},
									plotOptions : {
										column : {
											pointPadding : 0.2,
											borderWidth : 0
										}
									},
									series : [ {
										name : 'OT Amount',
									/*[+
									data: [[${ot}]]
									+]*/
									} ]
								});
			});
		</script>
	</main>

</body>

</html>