<!DOCTYPE html>
<html th:replace="~{layouts/main :: layout(~{::main})}"
	xmlns:th="http://www.thymeaf.org">

<body>
	<main role="main">
		<div class="container">
				<h1 class="h3 mb-1 text-gray-800 d-flex justify-content-center my-2">Workflow Details
				</h1>

				<div class="row mt-4">
								<div class="col-md-12">
									<div class="table-responsive my-3">

										<table
											class="table-borderless table table-striped model-table text-dark-600 small">
											<thead class="text-dark">
												<tr>
													<th scope="col">No</th>
													<th scope="col">Committer</th>
													<th scope="col">Issued Date</th>
													<th scope="col">Status</th>
													<th scope="col">Remark</th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="his : ${workflowhistory}">
													<td scope="row" th:text="${hisStat.index+1}">1</td>
													<td th:text="${his.senderName}"></td>
													<td th:text="${his.createdDate}"></td>
													<td th:text="${his.overtimeStatus}"></td>
													<td th:text="${his.remark}"></td>
													
												</tr>
											</tbody>
										</table>
									</div>
									
										<a href="#" th:href="@{/myRecord}" class="btn btn-primary">Back</a>
		
								</div>
							</div>

		</div>



	</main>
</body>
</html>