* item inside each card */ .item {
  padding-left: 5px;
  padding-right: 5px;
}

/* item-card inside each card */
.item-card {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 20px;
}



/* item-card-title inside each card */
.item-card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}

.card1 {
  background-color: #D3F3B8;
  
}

.card2 {
  background-color: #f5c1c1;
}

.card3 {
  background-color: #F5EF82;
}

.card4 {
  background-color: #bac7f7;
}


.card5 {
 
  height: 100px;
}

.card6 {
 
  height: 100px;
}

.card7 {
 
  height: 100px;
}

.card8 {
 
  height: 100px;
}


/* card title means number inside card */
.card-title {
  display: flex;
  justify-content: space-evenly;
}

/* card text means status inside card */
.card-text {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/* primary box shadow for card */
.card {
  box-shadow: 5px 5px 5px gainsboro;
}


/* card hover transaction */
.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}

.card::before {
  transform-origin: left top;
}

.card::after {
  transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}








/* icon inside each card */
.icon_card {
  display: flex;
  justify-content: end;
  color: whitesmoke;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 5px;
}


.icon_card2{
  display: flex;
  justify-content: end;
  color: whitesmoke;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 5px;
  margin-top: 50px;
}


/* square inside a card */
.square1 {
  height: 50px;
  width: 50px;
  background-color: #8ecb39;
  border-radius: 10px;
}

.square2 {
  height: 50px;
  width: 50px;
  background-color: #f55f5f;
  border-radius: 10px;
}

.square3 {
  height: 50px;
  width: 50px;
  background-color: #eee65a;
  border-radius: 10px;
}

.square4 {
  height: 50px;
  width: 50px;
  background-color: #2f59f5;
  border-radius: 10px;
}


.square5 {
  height: 50px;
  width: 50px;
  background-color: #8ecb39;
  border-radius: 10px;
  margin-top: 50px;
}

.square6 {
  height: 50px;
  width: 50px;
  background-color: #f55f5f;
  border-radius: 10px;
}

.square7 {
  height: 50px;
  width: 50px;
  background-color: #eee65a;
  border-radius: 10px;
}

.square8 {
  height: 50px;
  width: 50px;
  background-color: #2f59f5;
  border-radius: 10px;
}

.page{
 margin-left: -25px;
}

.upload{
  width: 100%;
 
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gainsboro;
}
